.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input{
  right: 80%;
}
.main-container {
  display: flex;
  width: 100%;
  height: 100vh; 
}


.sidebar{
  /*width: 25%;*/ 
  grid-area: s;
  background-color: #f0f0f0; 
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.add{
  grid-area: b;
  width: 25%;
  bottom: 20px;
  left: 50%;
  color: greenyellow;
}


.list{
  grid-area: l;
  width: 75%; 
  padding: 5% 10% 10% 50%;
  
}
.Category{
  grid-area: c;
}
.sizes {
  display: grid;
  grid-template-columns:20% 40% 40%;
  grid-template-rows:  3fr 3fr 3fr ;
  grid-template-areas:
 
  "s l l "
  "s l l "
  "b l l "
  ;
}
